MEROSHARE_USER=your_username
MEROSHARE_PASS=your_password
DP_NAME=YOUR_DP_NAME_EXACTLY_AS_IN_DROPDOWN
CRN=your_crn_number
TPIN=your_tpin_number
BANK_NAME=your_bank_name_exactly_as_in_dropdown
KITTA=10
