# Environment variables
.env

# Sensitive account data
accounts.json

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Temporary files
captcha.png

# IDEs
.vscode/
.idea/

# Database
db.sqlite3

# Mobile App (Front-end code should not be in backend repo)
node_modules/
dist/
build/

# Firebase Secrets
config/*.json
ipo_automation/android/app/google-services.json